@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  transition: all 0.2s ease-in-out;
}

*::-moz-selection {
  background-color: #292826;
  color: #F9D342;
}

*::selection {
  background-color: #292826;
  color: #F9D342;
}

html::-webkit-scrollbar {
  width: 0.5em;
}

html::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, orange, white, green);
}

html::-webkit-scrollbar-thumb {
  background: blue;
}

main {
  width: 100%;
  height: 500vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main header {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0px;
  background-image: linear-gradient(180deg, orange, white, green);
  z-index: 1000;
  color: blue;
  font-weight: 700;
  word-spacing: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
main header .Logo {
  width: 70px;
}
main #HistoricalPlaces {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
main #HistoricalPlaces .Card {
  padding: 0.5em;
  width: 100%;
  height: 16%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-bottom: 2px solid black;
}
main #HistoricalPlaces .Card:hover {
  cursor: pointer;
  transform: scale(0.98);
}
main #HistoricalPlaces .Card .Card-Image {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.2em;
}
main #HistoricalPlaces .Card .Card-Image .Place-Name {
  width: 100%;
  font-weight: 700;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0em;
  letter-spacing: 0.2em;
  padding-bottom: 0.5em;
}
main #HistoricalPlaces .Card .Card-Image .Place-Image {
  width: 100%;
  height: 420px;
  border-radius: 4px;
}
main #HistoricalPlaces .Card .Card-Description {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 65%;
  height: 100%;
  border-radius: 5px;
  padding: 0em 0.5em;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5em;
  padding: 1em;
  background-color: rgb(236, 236, 236);
}
main #HistoricalPlaces .Card .Card-Description article {
  height: 100%;
}
main #HistoricalPlaces .Card-Reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
main footer {
  width: 100%;
  height: 7vh;
  position: fixed;
  bottom: 0px;
  background-color: #6e6d6d;
  color: white;
  word-spacing: 10px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0em;
}
main footer #Name {
  color: orange;
  font-size: 20px;
}/*# sourceMappingURL=App.css.map */